<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="softwaretestingmaterial">
    <groups> <!-- Groups Control -->
        <run>
            <exclude name="ButtonTests" />
        </run>
    </groups>
    <test name="testngTest">
        <classes>
            <class name="TestNG.Activity5"/>
        </classes>
    </test>
</suite>

